
    
  <div class="container">
    <div class="row align-content-center">
      <div class="col-sm-12 col-md-8">

        <h1 class="text-center">Bienvenue à le Cocktelerie</h1>
        <h4 class="text-center">Here you can find lots of cocktails... and so much fun!</h4>
      </div>

      <div class="col-sm-12 col-md-4">
              <a class="btn btn-danger d-flex justify-content-center align-items-center" href="/login">Let´s party!</a>
      </div>
    </div>



  </div>
 
  



