
<div class="container">
    <h1>INGREDIENTS</h1>
    {{#each allBottles}}
        <input id="{{name}}" height="157px" type="image" src="{{image}}" alt="{{name}}" />
    {{/each}}

    <div class="cocktail-ingredients"></div>


    </div>
        <div class="cocktail-recipe"></div>
    </div>
</div>