
<section class="container">
    <h1>Welcome to the Cocktails DB...</h1>
    <div class="cocktail-container">
      <div class="cocktail-info">
        <div class="id">Id</div>
        <div class="name">Name</div>
        <div class="category">Category</div>
        <div class="ingredients">Ingredientes</div>
        <div class="instructions">Instrucciones</div>

        <div class="image"><img src="" alt="imagen"></div>
      </div>
    </div>
    <section class="operations">
      <div class="operation">
        <button id="random-cocktail">Randon cocktail</button>
      </div>
  </section>

  <section class="ingredients">
      <div class="name">Ingredients</div>
  </section>
        <button id="all-ingredients">All ingredients list</button><br><br>



<a class= "btn btn-dark" href="/login">Inicia sesión</a><br><br>

<a class= "btn btn-dark" href="/signup"> Resgistrate aquí</a><br><br>