<div class="container index">
  <div class="row align-content-center index-title">
    <div class="col-sm-12 col-md-8">

      <h1 class="text-center">Bienvenue à le Cocktelerie</h1>
      <h2 class="text-center">Here you can find lots of cocktails... and so much fun!</h2>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">

      <a class="btn btn-danger d-flex justify-content-center align-items-center border border-white" href="/login">
        <h4>Let´s party!</h4>
      </a>

    </div>
  </div>

</div>