
<section class="container">
   
    <div class="cocktail-container">
      <div class="cocktail-info">
        <div class="id">Id</div>
        <div class="name">Name</div>
        <div class="category">Category</div>
        <div class="ingredients">Ingredientes</div>
        <div class="instructions">Instrucciones</div>

        <div class="image"><img src="" alt="imagen"></div>
      </div>
    </div>

  </section><br><br>
