<h1>ADVANCED SEARCH</h1>

<hr>


<form action="/cocktails/list" method="get">
    <label>Name</label>
    <input name="strDrink" type="text" class="form-control" id="name-input">


    <!-- <label for="strCategorry">Category</label>
     <select name="strCategory" class="form-control">
        <option>Seleccionar</option>
                {{#each values}}
                    {{#each category}}
                        <option value="{{[]}}">{{[]}}</option>
                    {{/each}}    
                {{/each}}      
    </select>
   
      
    <label for="strAlcoholic">Alcohol</label>
     <select name="strAlcoholic" class="form-control">
            <option>Seleccionar</option>
              {{#each values}}
                {{#each alcohol}}
                    <option value="{{[]}}">{{[]}}</option>
                {{/each}}
            {{/each}}
            
        </select>


    <label for="strGlass">Glass</label>
     <select name="strGlass" class="form-control">
            <option>Seleccionar</option>
              {{#each values}}
                {{#each glass}}
                    <option value="{{[]}}">{{[]}}</option>
                {{/each}}
            {{/each}}
            
        </select>


    <label for="strTags">Tags</label>
      <input name="strTags" type="text" class="form-control" id="name-input"> -->

     <button type="submit" class="btn btn-dark">Search</button>
</form>